/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
html, body {
  height: 100%;
  font-family: 'Mulish', sans-serif;
  overflow: hidden;
  scroll-behavior: smooth;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1e2021;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  z-index: 1000;
  font-family: 'Norwester', sans-serif;
  height: 60px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Norwester', sans-serif;
  font-size: 20px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #f39c12;
}

.social {
  display: flex;
  gap: 20px;
}

.social a {
  color: #fff;
  font-size: 20px;
  transition: transform 0.3s, color 0.3s;
}

.social a:hover {
  transform: scale(1.2);
  color: #f39c12;
}

/* SECCIÓN FOTOGRAFÍA */
.fotografia-section {
  width: 100%;
  height: 100vh;
  background: url('Mesa de trabajo 1 copia 5.png') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* VIDEO */
.video-fotografia {
  max-width: 50%;
  max-height: 60%;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  position: relative;
  z-index: 1;
}